<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      
      <section name="JuraganAR.models.sharedsession" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JuraganAR.models.allsettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    
    <JuraganAR.models.sharedsession>
      <setting name="id" serializeAs="String">
        <value />
      </setting>
      <setting name="name" serializeAs="String">
        <value />
      </setting>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="is_login" serializeAs="String">
        <value>False</value>
      </setting>
    </JuraganAR.models.sharedsession>
    <JuraganAR.models.allsettings>
      <setting name="add_first_name" serializeAs="String">
        <value />
      </setting>
      <setting name="add_last_name" serializeAs="String">
        <value />
      </setting>
      <setting name="add_first_description" serializeAs="String">
        <value />
      </setting>
      <setting name="add_last_description" serializeAs="String">
        <value />
      </setting>
      <setting name="remove_text" serializeAs="String">
        <value />
      </setting>
      <setting name="preorder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="etalase" serializeAs="String">
        <value />
      </setting>
      <setting name="kategori" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="markup_value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="with_rumus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="weight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="min_pesan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="min_stok" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="min_harga" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rumus_value" serializeAs="String">
        <value>Murah</value>
      </setting>
      <setting name="with_markup" serializeAs="String">
        <value>False</value>
      </setting>
    </JuraganAR.models.allsettings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>